<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Blog | Agency Perfect</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon.png' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>
<body>
    <div class="container">
        <h3 style="text-align: center;">Ro'yxatdan o'tish</h3>
        <form action="{% url 'accounts:signup' %}" method="POST" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="first_name">First Name</label>
                  {% render_field usercreate.first_name|attr:'required:true'  class="form-control" placeholder="First Name" %}
                </div>
                <div class="form-group col-md-6">
                  <label for="last_name">Last Name</label>
                  {% render_field usercreate.last_name|attr:'required:true'  class="form-control" placeholder="Last Name" %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="username">Username</label>
                  {% render_field usercreate.username|attr:'required:true'  class="form-control" placeholder="username" %}
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Password</label>
                  {% render_field usercreate.password|attr:'required:true'  class="form-control" placeholder="password" %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="profile_pic">Profile Picture</label>
                  {% render_field usercreate.profile_img|attr:'required:true' class="form-control" placeholder="" %}
                </div>
            </div>

            <button type="submit">Yuborish</button>
        </form>
    </div>
</body>
</html>