<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Blog | Agency Perfect</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon.png' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


</head>
<body>
      <center>
    {% if messages %}
      {% for mes in messages %}
        <div class="alert alert--{{mes.tags}}">
            <p class="alert__message">{{mes}}</p>
            <button class="alert__close">⨯</button>
        </div>
      {% endfor %}
    {% endif %}
  </center>
    <header id="masthead" class="site-header site-header-white">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">

                <div class="navbar-header" style="padding-right: 3%">

                    <a href="{% url 'tutorial:blog' %}" class="site-title"><span>MRIT</span>Academy</a>

                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse header_a" id="agency-navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="{% url 'tutorial:blog' %}">Blog</a></li>
                        <li><a href="{% url 'tutorial:contact' %}">Contact</a></li>
                    </ul>
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="{% url 'accounts:profile' %}" class="dropdown-toggle" data-toggle="dropdown"><img class="avatar avatar--sm" src="{{ user.profile_img.url }}"><i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li><a href="{% url 'accounts:profile' %}"><b>{{ user.username}}</b></a></li><hr>
                                <li><a href="{% url 'accounts:profile' %}">your Profile</a></li>
                                <li><a href="#}">your Post</a></li>
                                <li><a href="#">your Comment</a></li>
                                <li><a href="#">your Like</a></li><hr>
                                <li><a href="{% url 'accounts:logout' %}"><b>Chiqish</b></a></li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}
                        <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Kirish<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a href="{% url 'accounts:signup' %}">Ro'yxatdan o'tish</a></li>
                              <li><a href="{% url 'accounts:login' %}">Kirish</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    </ul>

                </div>

            </div>
        </nav>
    </header><!-- /#mastheaed -->

    <div id="hero" class="hero overlay subpage-hero blog-hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Blog</h1>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Blog</li>
                </ol>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section subpage-site-section section-blog">
            <div class="container">
                 <div class="sidebar">
                            <div class="widget search-form">
                                <form action="{% url 'tutorial:search' %}" class="form-group" method="GET">{% csrf_token %}
                                    <input type="text" class="form-control" placeholder="Search" required name='texting' style=" box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                    <button class="btn btn-green" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div><!-- /.search-form -->
                            <div class="widget widget-categories">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-folder"></i> Categories<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li><a href="{% url 'tutorial:blog' %}">ALL</a></li>
                                            {% for categor in category %}
                                                <li><a href="{{ categor.get_absolute_url }}">{{ categor.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                </ul>



                            </div>
                        </div><!-- /.sidebar -->
                           <main class="home">
                             <section class="devlist">
                                <div class="grid grid--three">
                          {% for i in product %}
                                  <div class="column card carding">
                                    <div class="dev">
                                      <a href="{{ i.get_absolute_url }}" class="card__body">

                                        <p class="dev__info">
                                          <img class="avatar" src="{{ i.image.url }}" alt="image" />
                                        </p>
                                        <div class="dev__profile">
                                          <div class="dev__meta">
                                            <h3>{{ i.title }}</h3>
                                          </div>
                                        </div>
                                        <div class="dev__skills">
                                            {{ i.update|date:"F d, Y" }}
                                        </div>
                                      </a>
                                    </div>
                                  </div>
                                {% endfor %}
                                </div>
                            </section>

                          </main>
<!--                        <div class="row">-->
<!--                        {% for prod in product %}-->
<!--                            <div class="col-md-4">-->
<!--                                    <a href="{{ prod.get_absolute_url }}">-->
<!--                                        <img src="{{ prod.image.url }}" class="img-res" alt="" style="border-top-right-radius: 20px;border-top-left-radius: 20px;padding: 5px;height: auto;">-->
<!--                                    </a>-->
<!--                                    <div class="card-body">-->
<!--                                        <h3 class="card-title" style="text-align: center;">{{ prod.title }}fsd ef wefw f</h3>-->
<!--                                    </div><br>-->
<!--                                    <div class="card-footer">-->
<!--                                        <small class="text-muted">{{ prod.update|date:"F d, Y" }}</small>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="post-content">-->
<!--                                    <h3 class="post-title"><a href="{{ prod.get_absolute_url }}">{{ prod.title }}</a></h3>-->
<!--                                <div class="text-right">-->
<!--                                    <a class="read-more" href="{{ prod.get_absolute_url }}">Read more</a>-->
<!--                                </div>-->
<!--                                <div class="post-meta">-->
<!--                                    <span class="post-author">-->
<!--                                    <a href="#"><img class="img-res" src="" alt="">{{ prod.author }}</a>-->
<!--                                    </span>-->
<!--                                    <span class="post-date">-->
<!--                                        <a href=""><i class="fa fa-calendar" aria-hidden="true"></i>{{ prod.update }}</a>-->
<!--                                    </span>-->
<!--                                    <span class="post-category">-->
<!--                                        <a href="{{ prod.category.get_absolute_url }}"><i class="fa fa-folder" aria-hidden="true"></i>{{ prod.category }}</a>-->
<!--                                    </span>-->
<!--                                </div>&lt;!&ndash; /.post-meta &ndash;&gt;-->
<!--                                </div>&lt;!&ndash; /.post-content &ndash;&gt;-->

<!--                        {% endfor %}-->
<!--                        </div>-->
                        <div class="ui-pagination mt-50">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <ul class="pagination">
                                            {% if product.has_previous %}
                                                <li><a href="?page={{ product.previous_page_number }}">Previous</a></li>
                                                <li><a href="?page=1">1</a></li>
                                            {% endif %}

                                            {% if  product.number|add:'-3' > 1 %}
                                                <li ><a>...</a></li>
                                            {% endif %}

                                            {% if product.number|add:'-2' > 1 %}
                                                <li ><a href="?page={{ product.number|add:'-2' }}">{{ product.number|add:'-2' }}</a></li>
                                            {% endif %}

                                            {% if product.number|add:'-1' > 1 %}
                                                <li ><a href="?page={{ product.number|add:'-1' }}">{{ product.number|add:'-1' }}</a></li>
                                            {% endif %}

                                            <li class="active"><a href="#">{{ product.number }}</a></li>

                                            {% if product.number < product.paginator.num_pages|add:'-1' %}
                                                <li ><a href="?page={{ product.number|add:'1' }}">{{ product.number|add:'1' }}</a></li>
                                            {% endif %}

                                            {% if product.number < product.paginator.num_pages|add:'-2' %}
                                                <li ><a href="?page={{ product.number|add:'2' }}">{{ product.number|add:'2' }}</a></li>
                                            {% endif %}

                                            {% if product.number < product.paginator.num_pages|add:'-3' %}
                                                <li ><a>...</a></li>
                                            {% endif %}

                                            {% if product.has_next %}
                                                <li><a href="?page={{ product.paginator.num_pages }}">{{ product.paginator.num_pages }}</a></li>
                                                <li><a href="?page={{ product.next_page_number }}">Next</a></li>
                                            {% endif %}
                                    </ul><!-- /.pagination -->
                                </div>
                            </div>
                        </div><!-- /.ui-pagination -->
                    </div>
        </section><!-- /.section-portfolio -->

    </main><!-- /#main -->

    <footer id="colophon" class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="site-title"><span>MRIT</span>Academy</a>
                    <p>We're a digital agency focused on creative and results-driven solutions.</p>
                    <p>We measure our success by the results we drive for our clients.</p>
                </div>
                <div class="col-lg-offset-4 col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-0 col-xs-6 ">
                    <h3>Keep in touch</h3>
                    <ul class="list-unstyled contact-links">
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="alhppypro@gmail.com">alhppypro@gmail.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+998 88 613 40 44">+998 88 613 40 44</a></li>
                        <li><i class="fa fa-fax" aria-hidden="true"></i><a href="tel:+998 88 613 40 44">+998 88 613 40 44</a></li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i><p>Samarkand, Uzbekistan</p></li>
                    </ul>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <h3>Featured links</h3>
                    <ul class="list-unstyled">
                        <li class="active"><a href="{% url 'tutorial:blog' %}">Blog</a></li>
                        <li><a href="{% url 'tutorial:contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="social-links">
                            <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="facebook-bg" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                            <a class="linkedin-bg" href="#"><i class="fa fa-linkedin"></i></a>
                        </div><!-- /.social-links -->
                    </div>
                    <div class="col-xs-4">
                        <div class="text-right">
                            <p>&copy; MRIT Academy</p>
                            <p>All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.copyright -->
    </footer><!-- /#footer -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countTo.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.shuffle.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'uikit\app.js' %}"></script>



</body>
</html>